.logout_button {
    background-color: rgb(235, 235, 235);
    opacity: 1;
    color: black;
    padding: 16.6px;
    border-radius: 8px;
    margin-bottom: -20px;
    cursor: pointer;
}   
.logout_button:hover {
    background-color: black;
    color: white;
}