.product {
    width: 310px;
    padding: .78rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,7);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product > img {
    height: 188px;
    border-radius: 8px;
}
.info {
    padding: 1.5rem;
}
.product_name {
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
}
.shoe_price {
    font-size: 15.3px;
    padding: .5rem;
}
.view_button{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: white;
    background: #d7d7d7;
    padding: 6px 1px;
    border: 1px solid #C1C7C9;
}