.banner {
    background-image: url('https://media2.giphy.com/media/6ApCxBePPSaCKCaLQw/giphy.gif?cid=ecf05e47s0jfogmkst865ip0kiyxhugy7fxozhbh3funpu0r&rid=giphy.gif&ct=g'), url('http://s3.nikecdn.com/events-platform/pre-prod/NET_Admin/header/2017-05-20_657_Banner_Blue.jpeg');
    border: 25px solid white;
    height: 373px;
    width: 1440px;
    overflow: visible;
}
.homescreen_products{
    display: grid;
    grid-template-columns: repeat(4, 2fr)
}
.Current_list {
    padding: 2rem;
    font-family: "Poller One";
    color: 1px white;
}
.bar{
    font-size: 17px;
    padding: 10px;
    padding-right:42px;
    position: absolute;
    right: 114px;
    border-radius: 15px;
}
/* @media (max-width: 1232px){
    .homescreen_products {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .homescreen_products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px){
    .homescreen_products {
        grid-template-columns: repeat(1, 1fr);
    }
} */