.banner {
    background-image: ur('http://s3.nikecdn.com/events-platform/pre-prod/NET_Admin/header/2017-05-20_657_Banner_Blue.jpeg');
    border: 25px solid white;
    height: 350px;
    width: 113rem;
}
.homescreen_products{
    display: grid;
    grid-template-columns: repeat(4, 2fr)
}
.Current_list {
    
}